# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/
.venv/
.env
.env.*.local
src/sandbox/

# Data
data/*.ndjson
data/Notes

# Node / Node-RED
node_modules/
nodered/data
*package-lock.json
npm-debug.log*
.DS_Store

# Editors/OS
.vscode/
.idea/
*.swp
Thumbs.db

# Containers
mqtt/data/